.example-div {
  width: 150px;
  height: 80px;
  background-color: red;
}

#transformationExampleDiv {
  @extend .example-div;
  animation-name: transformationExampleDivAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes transformationExampleDivAnimation {
  0%   {
    background-color: red;
    transform: rotate(20deg)
  }
  12.5%  {
    background-color: yellow;
    transform: skewY(20deg)
  }
  25%  {
    background-color: blue;
    transform: scaleY(1.5)
  }
  37.5% {
    background-color: green;
  }
  50%   {
    background-color: green;
  }
  62.5%  {
    background-color: blue;
    transform: scaleY(1.5)
  }
  75%  {
    background-color: yellow;
    transform: skewY(20deg)
  }
  100% {
    background-color: red;
    transform: rotate(20deg)
  }
}

#translationExampleDiv {
  @extend .example-div;
  position: relative;
  animation-name: translationExampleDivAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes translationExampleDivAnimation {
  0%   {
    left: 0;
  }
  12.5%  {
    left: 100px;
  }
  25%  {
    left: 150px;
  }
  37.5% {
    left: 200px;
  }
  50%   {
    left: 200px;
  }
  62.5%  {
    left: 150px;
  }
  75%  {
    left: 100px;
  }
  100% {
    left: 0;
  }
}

#transitionExampleDiv {
  @extend .example-div;
  position: relative;
}

.transitionExampleDivAnimation {
  animation-name: transitionExampleDivAnimation;
  animation-duration: 2s;
}

@keyframes transitionExampleDivAnimation {
  0%   {
    bottom: 0;
  }
  25%  {
    bottom: 50px;
  }
  100% {
    bottom: 0;
  }
}

#exampleCanvas {
  width: 150px;
  height: 80px;
}

.hide {
  opacity: 0;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-in {
  0%   {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}




