<app-content [title]="'INTERCOM.IMPRINT.TITLE'" [centerText]="false">
  <ul>
    <li>{{ 'INTERCOM.IMPRINT.ADDRESS.NAME' | translate }}</li>
    <li> <a class="text-primary" href="mailto:severin.toldo@edu.tbz.ch">{{ 'INTERCOM.IMPRINT.ADDRESS.EMAIL' | translate }}</a></li>
    <li>{{ 'INTERCOM.IMPRINT.ADDRESS.STREET' | translate }}</li>
    <li>{{ 'INTERCOM.IMPRINT.ADDRESS.PLACE' | translate }}</li>
  </ul>
</app-content>
<br/>
<app-content [title]="'INTERCOM.IMPRINT.SOURCES'" [centerText]="false">
  <app-heading-two [title]="'Video Audio'" [centerText]="false" [showSpacing]="false"></app-heading-two>
  Monkeys Spinning Monkeys by Kevin MacLeod ​<a class="text-primary" target="_blank" href="http://incompetech.com">http://incompetech.com</a><br/>
  Creative Commons — Attribution 4.0 International — CC BY 4.0<br/>
  Free Download / Stream: <a class="text-primary" target="_blank" href="https://bit.ly/Msm-Km">https://bit.ly/Msm-Km</a>​<br/>
  Music promoted by Audio Library <a class="text-primary" target="_blank" href="https://youtu.be/GQCoV1TarO4">https://youtu.be/GQCoV1TarO4</a><br/>
  <br/>
  <br/>
  <app-heading-two [title]="'Angular Feather Icon Library License'" [centerText]="false" [showSpacing]="false"></app-heading-two>
  MIT © <a class="text-primary" href="mailto:micabazos@gmail.com">Michael Bazos</a>
  <br/>
  <br/>
  <br/>
  <app-heading-two [title]="'Andere Inhalte'" [centerText]="false" [showSpacing]="false"></app-heading-two>
  Alle anderen Inhalte sind selber erstellt. (vgl. Urheberrecht unten)
</app-content>
<br/>
<app-content [title]="'INTERCOM.IMPRINT.COPYRIGHT'" [centerText]="false">
  © 2021 Severin Toldo
</app-content>

