<app-content [title]="'INTERCOM.FILE_FORMATS.IMAGE.TITLE'">
  <div class="row">
    <div class="col-lg-4">
      <div class="pb-5">
        <app-image-viewer [images]="JPEG_IMAGES"></app-image-viewer>
        <app-comparison-card-list [title]="'INTERCOM.FILE_FORMATS.IMAGE.JPEG'"
                                  [comparisonCategories]="JPEG_COMPARISON_CATEGORIES"></app-comparison-card-list>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="pb-5">
        <app-image-viewer [images]="JPEG_LQ_IMAGES"></app-image-viewer>
        <app-comparison-card-list [title]="'INTERCOM.FILE_FORMATS.IMAGE.JPEG_LQ'"
                                  [comparisonCategories]="JPEG_LQ__COMPARISON_CATEGORIES"></app-comparison-card-list>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="pb-5">
        <app-image-viewer [images]="BMP_IMAGES"></app-image-viewer>
        <app-comparison-card-list [title]="'INTERCOM.FILE_FORMATS.IMAGE.BMP'"
                                  [comparisonCategories]="BMP_COMPARISON_CATEGORIES"></app-comparison-card-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4">
      <div class="pb-5">
        <app-image-viewer [images]="PNG_IMAGES"></app-image-viewer>
        <app-comparison-card-list [title]="'INTERCOM.FILE_FORMATS.IMAGE.PNG'"
                                  [comparisonCategories]="PNG_COMPARISON_CATEGORIES"></app-comparison-card-list>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="pb-5">
        <app-image-viewer [images]="GIF_IMAGES"></app-image-viewer>
        <app-comparison-card-list [title]="'INTERCOM.FILE_FORMATS.IMAGE.GIF'"
                                  [comparisonCategories]="GIF_COMPARISON_CATEGORIES"></app-comparison-card-list>
      </div>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</app-content>
