<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a *ngIf="isNavbarCollapsed"
     [routerLink]="homeRoute" class="navbar-brand">{{ 'GENERAL.APP_TITLE' | translate }}</a>
  <button #navbarToggler class="navbar-toggler" (click)="toggleMenu()">
    <i-feather name="menu"></i-feather>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse row">
    <div *ngIf="!isNavbarCollapsed" class="col d-flex justify-content-start ml-5">
      <a [routerLink]="homeRoute" class="navbar-brand">{{ 'GENERAL.APP_TITLE' | translate }}</a>
    </div>
    <div class="col d-flex justify-content-end">
      <ul class="navbar-nav d-flex align-items-stretch justify-content-between w-100">
        <app-nav-link *ngFor="let navLink of navLinks;"
                      [navLink]="navLink"
                      (onRoute)="onRoute()"></app-nav-link>
      </ul>
    </div>
    <div *ngIf="!isNavbarCollapsed" class="col d-flex justify-content-end mr-5">
      <button class="btn btn-primary rounded-pill" [routerLink]="sitemapRoute">{{ 'NAV.SITEMAP' | translate }}</button>
    </div>
  </div>
</nav>
