<li [class.active]="isNavLinkActive(navLink)" class="nav-item">
  <ng-container *ngIf="hasSubs">
    <div ngbDropdown class="nav-link-dropdown-container">
      <button class="btn nav-link-dropdown" ngbDropdownToggle>{{ navLink.text | translate }}</button>
      <div ngbDropdownMenu>
        <div *ngFor="let sub of navLink.subs"
             [class.active-nav-link-dropdown-sub]="isNavLinkActive(sub)" class="m-2">
          <button (click)="onNavLinkClicked(sub)"
                  class="nav-link-dropdown-sub"
                  ngbDropdownItem>
            {{ sub.text | translate }}
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!hasSubs">
    <a (click)="onNavLinkClicked(navLink)" class="nav-link">
      {{ navLink.text | translate }}
    </a>
  </ng-container>
</li>
