<li [class.active]="isNavLinkActive(navLink)" class="nav-item">
  <ng-container *ngIf="hasSubs">
    <div ngbDropdown class="d-inline-block">
      <button class="btn nav-link-dropdown" ngbDropdownToggle>{{ navLink.text | translate }}</button>
      <div class="nav-link-dropdown-menu" ngbDropdownMenu>
        <button *ngFor="let sub of navLink.subs"
                (click)="onNavLinkClicked(sub)"
                ngbDropdownItem>{{ sub.text | translate }}</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!hasSubs">
    <a (click)="onNavLinkClicked(navLink)" class="nav-link">
      {{ navLink.text | translate }}
    </a>
  </ng-container>
</li>
