<div class="m-5">
  <h1>Fragen zum Urheberrecht</h1>
  <br/>
  <br/>
  <br/>
  <h2><b>Q: Wird ein Impressum vorgeschrieben?</b></h2>
  <h2>A: Ja, in der Schweiz gilt eine Impressumspflicht (Siehe Gesetz gegen den unlauteren Wettbewerb (UWG))</h2>
  <br/>
  <br/>
  <h2><b>Q: Wie kann ich mein Geistiges Eigentum schützen?</b></h2>
  <h2>A: Gewerblichen Schutzrechte wie Marken, Patente, Designs sowie das Urheberrecht</h2>
  <br/>
  <br/>
  <h2><b>Q: Was gibt es für Schutzkriterien?</b></h2>
  <h2>A: Das Werk muss eine geistige Schöpfung sein und muss individuellen Charakter besitzen.</h2>
  <br/>
  <br/>
  <h2><b>Q: Nennen sie 3 Beispiel für Urheberrechtsgeschütze Werke:</b></h2>
  <h2>A:
    a. literarische, wissenschaftliche und andere Sprachwerke;<br/>
    b. Werke der Musik und andere akustische Werke;<br/>
    c. Werke der bildenden Kunst, insbesondere der Malerei, der Bildhauerei und der Graphik;<br/>
    d. Werke mit wissenschaftlichem oder technischem Inhalt wie Zeichnungen, Pläne, Karten oder plastische Darstellungen;<br/>
    e. Werke der Baukunst;<br/>
    f. Werke der angewandten Kunst;<br/>
    g. fotografische, filmische und andere visuelle oder audiovisuelle Werke;<br/>
    h. choreographische Werke und Pantomimen.</h2>
  <br/>
  <br/>
  <h2><b>Q: Können Teile, Entwürfe oder Titel von Werken geschützt werden?</b></h2>
  <h2>A: Ja, wenn sie die Schutzkriterien erfüllen.</h2>
  <br/>
  <br/>
  <h2><b>Q: Wer ist Urheber?</b></h2>
  <h2>A: Grundsätzlich gilt der bzw. die Erschaffer des Werkes (natürliche Person(en)) als Urheber, wenn nichts anderes bestimmt wurde.</h2>
  <br/>
  <br/>
  <h2><b>Q: Welche Rechte hat ein Urheber:</b></h2>
  <h2>A: Der Urheber hat das Recht auf Erstveröffentlichung, sowie das Recht auf Anerkennung der Urheberschaft.</h2>
  <br/>
  <br/>
  <h2><b>Q: Wer kann Urheberrechtsverletzungen verfolgen?</b></h2>
  <h2>A: Jeder einzelne Miturheber kann Urheberrechtsverletzungen verfolgen.</h2>
  <br/>
  <br/>
  <h2><b>Q: Welche Nutzungsrechte hat ein Urheber?</b></h2>
  <h2>A:
    a. Werkexemplare wie Druckerzeugnisse, Ton-, Tonbild- oder Datenträger herzustellen;<br/>
    b. Werkexemplare anzubieten, zu veräussern oder sonstwie zu verbreiten;<br/>
    c. das Werk direkt oder mit Hilfe irgendwelcher Mittel vorzutragen, aufzuführen, vorzuführen oder es anderswo wahrnehmbar zu machen;<br/>
    d. das Werk durch Radio, Fernsehen oder ähnliche Einrichtungen, auch über Leitungen, zu senden;<br/>
    e. gesendete Werke mit Hilfe von technischen Einrichtungen, deren Träger nicht das ursprüngliche Sendeunternehmen ist, insbesondere auch über Leitungen, weiterzusenden;<br/>
    f. Sendungen und Weitersendungen wahrnehmbar zu machen.</h2>
  <br/>
  <br/>
  <h2><b>Q: Kann auf das Urheberrecht verzichtet werden?</b></h2>
  <h2>A: Ja</h2>
  <br/>
  <br/>
  <h2><b>Q: Kann das Urheberrecht übertragen werden?</b></h2>
  <h2>A: Ja, zu beachten ist das in der Schweiz das Urheberrecht auch unter Lebenden übertragen werden kann. Es ist somit übertragbar und vererblich.</h2>
  <br/>
  <br/>
  <h2><b>Q: Wie lange ist etwas urheberrechtlich geschützt?</b></h2>
  <h2>A: Nach dem Tod des Urhebers 70 Jahre, ausser bei Computerprogrammen deren Urheberrechtsschutz läuft bereits nach 50 Jahren aus.</h2>
</div>


















