<app-content [title]="'INTERCOM.STYLE_GUIDE.LOGO_BRAND.TITLE'" [body]="LOGO_BRAND_BODY"></app-content>
<app-content>
  <div class="row text-center">
    <div class="col-lg-4">
      <div class="pb-5">
        <app-heading-one [title]="'INTERCOM.STYLE_GUIDE.LOGO_BRAND.LOGO'"></app-heading-one>
        <div class="logo-big">
          <app-image [src]="'/assets/images/logo/logo.png'"></app-image>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="pb-5">
        <app-heading-one [title]="'INTERCOM.STYLE_GUIDE.LOGO_BRAND.TEXT'"></app-heading-one>
        <p class="navbar-brand">{{ 'GENERAL.APP_TITLE' | translate }}</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="pb-5">
        <app-heading-one [title]="'INTERCOM.STYLE_GUIDE.LOGO_BRAND.LOGO_TEXT_COMBINATION'"></app-heading-one>
        <div class="row">
          <div class="col-5">
            <div class="logo-small float-right">
              <app-image class="d-inline-block" [src]="'/assets/images/logo/logo.png'"></app-image>
            </div>
          </div>
          <div class="col-7">
            <p class="d-inline-block navbar-brand float-left">{{ 'GENERAL.APP_TITLE' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>
