<app-content>
  <app-style-guide-color-palette [colorHex]="'#F53838'" [colorName]="'Primary'"></app-style-guide-color-palette>
  <app-style-guide-color-palette [colorHex]="'#292b2c'" [colorName]="'Secondary'"></app-style-guide-color-palette>
  <app-style-guide-color-palette [colorHex]="'#f7f7f7'" [colorName]="'Light'"></app-style-guide-color-palette>
  <app-style-guide-color-palette [colorHex]="'#5cb85c'" [colorName]="'Success'"></app-style-guide-color-palette>
  <app-style-guide-color-palette [colorHex]="'#f0ad4e'" [colorName]="'Warning'"></app-style-guide-color-palette>
  <app-style-guide-color-palette [colorHex]="'#d9534f'" [colorName]="'Danger'"></app-style-guide-color-palette>
</app-content>

