<br>
<div style="width: 320px; height: 240px">
  <app-video-player [src]="'/assets/videos/movie.mkv'"></app-video-player>
</div>

<!--<app-comparison-card-list [title]="'Main title'"></app-comparison-card-list>-->




<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

TODO replace AVI comaprssion with ogg!!
TODO go through assigments again, just double check
mp4:<br/>
<video width="320" height="240" src="/assets/videos/movie.mp4" controls></video>

mkv:<br/>
<video width="320" height="240" src="/assets/videos/movie.mkv" (error)="handleError()" controls></video>

mov:<br/>
<video width="320" height="240" src="/assets/videos/movie.mov" controls></video>

webm:<br/>
<video width="320" height="240" src="/assets/videos/movie.webm" controls></video>
