<app-content [title]="'INTERCOM.FILE_FORMATS.VIDEO.TITLE'">
  <div class="row">
    <div class="col-lg-3">
      <div class="pb-5">
        <app-video-player [src]="MP4_VIDEO_PATH" [thumbnail]="THUMBNAIL_PATH"></app-video-player>
        <app-comparison-card-list [title]="'MP4'" [comparisonCategories]="MP4_COMPARISON_CATEGORIES"></app-comparison-card-list>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="pb-5">
        <app-video-player [src]="MKV_VIDEO_PATH" [thumbnail]="THUMBNAIL_PATH"></app-video-player>
        <app-comparison-card-list [title]="'MKV'" [comparisonCategories]="MKV_COMPARISON_CATEGORIES"></app-comparison-card-list>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="pb-5">
        <app-video-player [src]="MOV_VIDEO_PATH" [thumbnail]="THUMBNAIL_PATH"></app-video-player>
        <app-comparison-card-list [title]="'MOV'" [comparisonCategories]="MOV_COMPARISON_CATEGORIES"></app-comparison-card-list>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="pb-5">
        <app-video-player [src]="WEBM_VIDEO_PATH" [thumbnail]="THUMBNAIL_PATH"></app-video-player>
        <app-comparison-card-list [title]="'WebM'" [comparisonCategories]="WEBM_COMPARISON_CATEGORIES"></app-comparison-card-list>
      </div>
    </div>
  </div>
</app-content>
