<div class="cookie-warning-wrapper d-flex justify-content-center">
  <ngb-toast *ngIf="isVisible" [autohide]="false" class="cookie-warning">
    <h5>{{ 'COMPONENTS.COOKIE_WARNING.TITLE' | translate }}</h5>
    <p>{{ 'COMPONENTS.COOKIE_WARNING.BODY' | translate }}</p>
    <form [formGroup]="cookiesForm">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="requiredCheckbox" formControlName="required">
        <label class="form-check-label" for="requiredCheckbox">{{ 'COMPONENTS.COOKIE_WARNING.FORM.REQUIRED' | translate }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="preferencesCheckbox" formControlName="preferences">
        <label class="form-check-label" for="preferencesCheckbox">{{ 'COMPONENTS.COOKIE_WARNING.FORM.PREFERENCES' | translate }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="statisticsCheckbox" formControlName="statistics">
        <label class="form-check-label" for="statisticsCheckbox">{{ 'COMPONENTS.COOKIE_WARNING.FORM.STATISTICS' | translate }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="marketingCheckbox" formControlName="marketing">
        <label class="form-check-label" for="marketingCheckbox">{{ 'COMPONENTS.COOKIE_WARNING.FORM.MARKETING' | translate }}</label>
      </div>
      <button class="btn btn-outline-primary rounded-pill ml-2" (click)="saveSettings()">{{ 'COMPONENTS.COOKIE_WARNING.FORM.SAVE_SETTINGS' | translate }}</button>
      <button class="btn btn-primary rounded-pill ml-2" (click)="consentAll()">{{ 'COMPONENTS.COOKIE_WARNING.FORM.CONSENT_ALL' | translate }}</button>
    </form>
  </ngb-toast>
</div>


