<div class="m-5">
  <app-heading-one *ngIf="heading === 'h1'"
                   [centerText]="centerText"
                   [title]="title"></app-heading-one>
  <app-heading-two *ngIf="heading === 'h2'"
                   [centerText]="centerText"
                   [title]="title"></app-heading-two>

  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <p *ngIf="body" [class.text-center]="centerText" [innerHTML]="body"></p>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
  <ng-content *ngIf="!body"></ng-content>
</div>
