.chat-bot-wrapper {

}

.chat-bot-header {
  width: 31rem;
  height: 4rem;
  padding-top: 0.8rem;
  padding-left: 1rem;
  background-color: white;
}

.chat-bot-chat-area {
  scroll-behavior: smooth;
  padding: 2rem;
  width: 31rem;
  height: 25rem;
  overflow: scroll;
  overflow-x:hidden;
  background-color: white;
}

.send-message-button {
  margin-top: 2rem;
}
