<div class="m-5">
  <h1>DSGVO</h1>
  <br/>
  <br/>
  <p>DSGVO steht für Datenschutz-Grundverordnung und ist eine Verordnung der Europäischen Union mit der die Verarbeitung von personenbezogenen Daten EU-weit gesetzlich geregelt wird. Teil dieser personenbezogenen Daten sind Cookies, spezielle Cookies der Erst- und Drittanbieter-Provenienz. Neu müssen alle Webseiten mit Nutzern aus dem EU-Raum eine DSGVO konforme Cookie Warnung anzeigen, ein wie bislang oft verwendeter Hinweis genügt nicht mehr.</p>
</div>
