<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

  <!--  TODO use icon-->
  <button #navbarToggler class="navbar-toggler" (click)="toggleMenu()">&#9776;</button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse row">
    <div *ngIf="!isNavbarCollapsed" class="col d-flex justify-content-start ml-5">
      <a class="navbar-brand" [routerLink]="homeRoute">{{ 'GENERAL.APP_TITLE' | translate }}</a>
    </div>
    <div class="col d-flex justify-content-end">
      <ul class="navbar-nav d-flex align-items-stretch justify-content-between w-100">
        <li *ngFor="let navLink of navLinks;"
            [class.active]="isNavLinkActive(navLink)"
            class="nav-item">
          <a (click)="onNavLinkClicked(navLink)"
             class="nav-link">{{ navLink.text | translate }}</a>
        </li>
      </ul>
    </div>
    <div *ngIf="!isNavbarCollapsed"class="col d-flex justify-content-end mr-5">
      <button class="btn btn-primary rounded-pill">{{ 'NAV.SITEMAP' | translate }}</button>
    </div>
  </div>
</nav>
