.color-palette {
  width: 10rem;
  height: 12rem;
  display: table-cell;
  vertical-align: bottom;
}
.color-name-wrapper {
  padding: 0.2rem;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  vertical-align: bottom;
  text-align: center;
}
