@import '~bootstrap/scss/bootstrap';
@import '~angular2-toaster/toaster.min.css';
@import '~ngx-toastr/toastr.css';

$primary: #F53838;
$primaryDark: darken($primary, 10);
$secondaryDark: darken($secondary, 10);
$secondaryLight: lighten($secondary, 30);

$theme-colors: (
  "primary": $primary,
);

.rounded-pill {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.nav-link {
  color: $secondary !important;
}

.nav-link:hover {
  color: $primary !important;
  cursor: pointer !important;
}

.active a {
  color: $primaryDark !important;
  border-bottom-style: solid !important;
  border-bottom-color: $primaryDark !important;
}

.nav-link {
  border-bottom-style: solid !important;
  border-bottom-color: transparent !important;
}

.navbar {
  border-bottom-style: solid !important;
  border-bottom-color: $secondaryLight !important;
}

.navbar-brand {
  margin: 0 !important;
}

// changes checked of checkbox color to primary color
input[type="checkbox"], input[type="radio"] {
  filter: hue-rotate(140deg);
}

.btn-link {
  outline: none !important;
  box-shadow: none !important;
  color: $primary !important;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
